.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100% - 128px);
  height: auto;
  overflow: auto;
  margin: 0 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  margin: 15px 0;
}

button {
  margin: 0 10px;
}


table {
  width: 100%;
}

.export {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 30px 15px;
  }
}

table button {
  text-align: right;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
