<app-navbar></app-navbar>

<div class="container">
  <div *ngIf="loadingModel">
    <p>Loading the AI</p>
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loadingModel" class="wrapper">
    <main>
        <h1> Classify your wild animal photos</h1>
        <button mat-raised-button color="primary" (click)="fileInput.click()">Select Files</button>
        <input hidden #fileInput type="file" accept="image/*" multiple (change)="loadInputFiles($event)" />
        <button mat-raised-button color="accent" id="predictBtn" [disabled]="!filePath" (click)="predictionLoop()">Predict</button>
    </main>

    <mat-divider></mat-divider>

    <section class="table" *ngIf="tableReady">
      <mat-form-field appearance="standard" color="accent">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ours" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort fixedLayout="true">

          <!-- File Name Column -->
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fileName}} </td>
          </ng-container>


          <!-- Preview Column -->
          <ng-container matColumnDef="preview">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Preview </th>
            <td mat-cell *matCellDef="let row"> <img width="70" [src]="row.preview" /></td>
          </ng-container>

          <!-- blaireau Column -->
          <ng-container matColumnDef="blaireau">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Blaireau </th>
            <td mat-cell *matCellDef="let row"> {{row.blaireau}} </td>
          </ng-container>

          <!-- brebis Column -->
          <ng-container matColumnDef="brebis">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brebis </th>
            <td mat-cell *matCellDef="let row"> {{row.brebis}} </td>
          </ng-container>

          <!-- cervide Column -->
          <ng-container matColumnDef="cervide">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cervide </th>
            <td mat-cell *matCellDef="let row"> {{row.cervide}} </td>
          </ng-container>

          <!-- chat Column -->
          <ng-container matColumnDef="chat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chat </th>
            <td mat-cell *matCellDef="let row"> {{row.chat}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="cheval">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cheval </th>
            <td mat-cell *matCellDef="let row"> {{row.cheval}} </td>
          </ng-container>

          <!-- chevreuil Column -->
          <ng-container matColumnDef="chevreuil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chevreuil </th>
            <td mat-cell *matCellDef="let row"> {{row.chevreuil}} </td>
          </ng-container>


          <!-- chevre Column -->
          <ng-container matColumnDef="chevre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chèvre </th>
            <td mat-cell *matCellDef="let row"> {{row.chevre}} </td>
          </ng-container>

          <!-- chien Column -->
          <ng-container matColumnDef="chien">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chien </th>
            <td mat-cell *matCellDef="let row"> {{row.chien}} </td>
          </ng-container>

          <!-- daim Column -->
          <ng-container matColumnDef="daim">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Daom </th>
            <td mat-cell *matCellDef="let row"> {{row.daim}} </td>
          </ng-container>

          <!-- ecureuil Column -->
          <ng-container matColumnDef="ecureuil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ecureuil </th>
            <td mat-cell *matCellDef="let row"> {{row.ecureuil}} </td>
          </ng-container>

          <!-- humain Column -->
          <ng-container matColumnDef="humain">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Humain </th>
            <td mat-cell *matCellDef="let row"> {{row.humain}} </td>
          </ng-container>

          <!-- isard Column -->
          <ng-container matColumnDef="isard">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Isard </th>
            <td mat-cell *matCellDef="let row"> {{row.isard}} </td>
          </ng-container>

          <!-- lievre Column -->
          <ng-container matColumnDef="lievre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lièvre </th>
            <td mat-cell *matCellDef="let row"> {{row.lievre}} </td>
          </ng-container>

          <!-- marmotte Column -->
          <ng-container matColumnDef="marmotte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marmotte </th>
            <td mat-cell *matCellDef="let row"> {{row.marmotte}} </td>
          </ng-container>

          <!-- martre Column -->
          <ng-container matColumnDef="martre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Martre </th>
            <td mat-cell *matCellDef="let row"> {{row.martre}} </td>
          </ng-container>

          <!-- oiseaux Column -->
          <ng-container matColumnDef="oiseaux">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Oiseaux </th>
            <td mat-cell *matCellDef="let row"> {{row.oiseaux}} </td>
          </ng-container>

          <!-- ours Column -->
          <ng-container matColumnDef="ours">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ours </th>
            <td mat-cell *matCellDef="let row"> {{row.ours}} </td>
          </ng-container>

          <!-- renard Column -->
          <ng-container matColumnDef="renard">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Renard </th>
            <td mat-cell *matCellDef="let row"> {{row.renard}} </td>
          </ng-container>

          <!-- rien Column -->
          <ng-container matColumnDef="rien">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rien </th>
            <td mat-cell *matCellDef="let row"> {{row.rien}} </td>
          </ng-container>

          <!-- sanglier Column -->
          <ng-container matColumnDef="sanglier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sanglier </th>
            <td mat-cell *matCellDef="let row"> {{row.sanglier}} </td>
          </ng-container>

          <!-- tetras Column -->
          <ng-container matColumnDef="tetras">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tetras </th>
            <td mat-cell *matCellDef="let row"> {{row.tetras}} </td>
          </ng-container>

          <!-- vache Column -->
          <ng-container matColumnDef="vache">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vache </th>
            <td mat-cell *matCellDef="let row"> {{row.vache}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
